


<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:20px">



  <!-- The shipper Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="shipper">
    <h1 class="w3-wide">DỊCH VỤ ĐI CHỢ THUÊ</h1>
    <p class="w3-opacity"><i>Dịch vụ đi chợ thuê cam kết luôn đồng hành cùng khách hàng và mang lại những sản phẩm tốt nhất.</i></p>

  </div>

  <!-- The history Section -->
  <div class="w3-black" id="history">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">LỊCH SỬ ĐƠN HÀNG CỦA TÔI</h2>

        <div  *ngFor="let or of order">

          <div id="que-hedder2983">
                <h3><a (click)=getOrDetail() target="_blank">Nhấn để xem thông tin đơn hàng</a></h3> </div>

            <div class="ques-details10018">
                <p class="w3-opacity">Địa chỉ giao hàng: {{or.detailAddress}},{{or.district}}, {{or.province}}  </p>
                <p  class="w3-opacity">Ngày giờ giao: {{or.updateAt}}</p>
                <div  *ngFor="let od of orderDetail">
                  <p  class="w3-opacity">{{od.id}}:{{od.name}}, giá: {{od.price}}</p>
                </div>
           </div>
            <hr>
      </div>

    </div>
  </div>

  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32">
        <span onclick="document.getElementById('ticketModal').style.display='none'"
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div>

</div>

<!-- Image of location/map -->
<img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%">

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
